.blogs{
    min-height: 100vh;
    width: 60%;
    margin: 0 auto;
}

.arch_blog{
    padding: 20px 0;
}

.arch_blog h1{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 20px;
    font-weight: 500;
}

.arch_blog p{
    font-family: 'Georgia','serif';
}
.arch_blog .warning{
    background: rgba(243, 4, 4, 0.897);
    color: white;
    padding: 20px 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.arch_blog pre{
    font-size: inherit;
    font-family: 'Georgia','serif'; 
    font-size: 14pt;
    background: rgba(176, 221, 233, 0.87);
    padding: 50px 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}